    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <br>
                <p>I'm a motivated front-end/full-stack developer living in Italy, I specialize in developing and designing responsive websites from scratch. I've always been drawn to the overlap between front end & back end development. My strength lies in creating User Experience & interactivity, however,  I enjoy both aspect and love building websites from start to finish, for clients all over the world.</p>
                <p>If you wanna get in touch, talk to me about a project collaboration or just say hi, 
                    feel free to contact me on <a href="#"> hianthonylan@gmail.com</a> and ~let's talk.</p>
            </div>
        </div>
    </section>
